Notification code/subcode for bad nexthop

In draft -00, Section 5:

> In both cases, it MAY send a NOTIFICATION message as described in section 4 of [[RFC4271](https://www.rfc-editor.org/info/rfc4271)], using the UPDATE error message code (8 - Invalid NEXT_HOP Attribute) indicating there is an invalid NEXT_HOP field.

The NEXT_HOP cited here is for the RFC 4271 next hops, which are ipv4-only.

RFC 4760, which governs the multiprotocol procedures that permit IPv6, does not currently have any specific notification procedures for a bad nexthop separate from the rest of the attribute.  It specifies its section 7:

>    In addition, the speaker MAY terminate the BGP session over which the UPDATE message was received.  The session SHOULD be terminated with the Notification message code/subcode indicating "UPDATE Message Error"/"Optional Attribute Error".

This is arguably an oversight.

While I think there's motivation to want a better subcode for bad LL nexthops, it may require a new subcode.  This is distinct from the request in -00 for "Unreachable Link-Local Address".

This may be flagging a clarification is needed in RFC 4760.

Further reviewing vs. RFC 7606, §7.3, malformed nexthops are cause to treat-as-withdraw.

Thus, I suspect the proper thing to do is NOT to recommend sending notifications which would eliminate this consideration.

>Further reviewing vs. RFC 7606, §7.3, malformed nexthops are cause to treat-as-withdraw.

But malformed != unreachable (technically).

Right.

> As I understand, we should just remove the wording suggesting to send a notification, right?

Correct.