Route reflectors and third-party next hops

Currently in draft -00:

> For iBGP peers configured as a route-reflector [[RFC4456](https://www.rfc-editor.org/info/rfc4456)], when route-reflector isn't configured to be in the data-path, the proposed link-local (only) next hops MUST NOT be reflected.

There are multiple issues flagged here:
1. It is possible for a route reflector to reflect the received nexthop when the route the reflector is reflecting has been received and is intended to be sent to two parties that exist on the same interface.  However, when it is not, then more discussion about how route reflectors are intended to behave is required.  This will likely require both motivational discussion since the link-local-only nexthop and most reflection scenarios are not well aligned for traditional networks.  For specific use cases like fabrics, perhaps the use cases are more addressable.
2. The procedures for when it is safe to use a third-party nexthop is covered in RFC 4271 §5.1.3.  Normative updates are likely required there to discuss the link-local case.  In particular, that text uses "subnet" as the acceptance criteria.  For link-local addresses which all share a subnet, "on the same interface" becomes the critiera.  Note that this discussion may motivate the draft to also need to be "updates RFC 4271".


Not sure actually how these should be covered (or not at all) in this draft correctly. RFC 4271 §5.1.3 covers NEXT_HOP, which is IPv4 only... 

The core point from the RFC 4271 procedures is that it defines "third party nexthops".  That has carried over to IPv6 as well.  For IPv6 globals, the idea is cleanly carried over.

For IPv6 link locals, the idea is problematic.  A third party nexthop is still valid, but its scope is the interface rather than a subnet.  This has impacts for whether you are willing - or not willing - to accept a nexthop that may not be the same as the peering session's IP address.

For reflection, the idea becomes additionally problematic when reflection carries a received link local nexthop.  It is valid to have a link-local only route reflector serving ibgp for only bgp speakers on the same interface.  In this case, passing the LLNH between clients is fine.

However, the minute a route reflector would want to reflect a route received on one interface with a LLNH and no global nexthop to another peering session on a different interface, we have a problem.  There are a few ways this could be handled:

1. Such reflection is considered illegal and does not happen.  Crafting the normative text for that will be messy but can be done.
2. Such "reflection" is permitted, but results in the reflector being installed in the forwarding path by doing a next hop self operation.  While reflectors doing NHS are uncommon use cases, it does happen for various reasons.  But as you may be highlighting, those use cases are not standardized.

FWIW, you're not expected to unilaterally address this point yourselves (authors).  The point of this issue is to note that it MUST be addressed in the procedures and build WG consensus before publication.

Logging a personal preference here, but noting that others may have different opinions:
- iBGP LLNH-only is permitted as long as the peer is directly attached.
- iBGP LLNH-only route reflection is permitted with no change of RFC 4456 procedures when reflecting routes between peers on the same interface as the one that the route has been received on.
- iBGP LLNH-only route reflection from the received interface to any other interface MUST NOT be done by default.  Implementations MAY permit reflection to other sessions on other interfaces or clients that are not directly attached to the received interface so long as the nexthop is set as next hop self is done.  This may result in a next hop that includes a global address, if one is available.  
- If readvertising to a remote peering session that is not directly attached and no global nexthop is available, the route is not propagated.  Note that this isn't restricted to reflection, but propagation of the route in general.
