Interactions vs. IPv6 neighbor table

Draft -00 has various bits of text discussing interactions with the IPv6 neighbor table.  While this can be configured explicitly in many implementations, it is often populated by entries that are dynamically created and whose forwarding state is mediated via the neighbor discovery protocol (NDP).

For directly connected IPv4 or IPv6 global entries, there are similar considerations in existing BGP implementations.  The common procedure is largely governed by RFC 4271, §9.1.2:

>    If the NEXT_HOP attribute of a BGP route depicts an address that is not resolvable, or if it would become unresolvable if the route was installed in the routing table, the BGP route MUST be excluded from the Phase 2 decision function.

The current draft -00, in its section 5, tries to address this point using "treat as withdraw".  I believe this is isn't how we wish to specify the behavior.  There are a few inputs as to how we should address this normative procedural point:

1. For peering sessions that are expected to be point-to-point, if the nexthop is not the expected one, treat-as-withdraw may be okay; this is effectively a rejection of the route via a policy based on the properties of its nexthop.  So, this would normally be covered by RFC 4271, §9 procedures for acceptable routes.
2. For LLNH that do not currently exist in the neighbor table, this may be a transient event and may have comparable behavior to IPv4 nexthops that do not resolve via ARP.  Many implementations do not withdraw their routes in such transient conditions.  Whether we want LLNH for LL-only peering to do this explicitly is a good WG discussion.

Note that the resolution of this detail also impacts the request for a new notification subcode for unreachable nexthops.


Ups, missed this, have to drop it, right.